body{
background-color: hsl(29, 83%, 57%);


}
.box{
    display: flex;
    width: 400px;
    height: 500px;
    background-color: aliceblue;
    border-radius: 50px;
    margin-left: 360px;
    margin-top: 30px;
    
    
}
.red {
     
    border: 1px solid hsl(29, 83%, 57%);
    background-color: hsl(29, 83%, 57%);
    margin-left: 10px;
}

.img {
 display: flex;
    border-radius: 10px;
    margin-left: 28px;
    margin-right: 15px;
    margin-top: 20px;

    
   
}
.images {
    display: flex;
    border-radius: 10px;
width: 60px;
height: 30px;
    
}
.box{
    display: flex;
}
p
{
    display: flex;
    margin-left: 20px;
    margin-right: 15px;
}
h5{ 
    display: flex;
    margin-left: 30px;
}
#mama{
margin-top: 80px;
margin-left: 20px;
border-radius:100px;
}
.tex{
margin-left: 90px;
margin-top: -50px;
}
#pic{
    border-radius: 100%;
}